<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#">
                        <img class="img" src="../assets/img/faces/kareem_image2.jpg" />
                    </a>
                </div>

                <div class="content">
                    <h6 class="category text-gray">Co-Founder of Crypto</h6>
                    <h4 class="card-title">Kareem Jackson</h4>
                    <p class="card-content">
                        The voices in my head like to yell at me lately
                    </p>
                    <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
